interfaces {
   {{ if_name }} {
        unit 0 {            
            description {{ if_description }};
            family inet {
                address {{ if_addr }}/{{ if_subnet }};
            }
        }
    }
}